* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, "PingFang SC", "Microsoft Yahei", sans-serif;
}

h1 {
  margin-bottom: 24px;
}

p {
  margin-bottom: 12px;
}

button,
.link-button {
  padding: 12px 24px;
  background: linear-gradient(
    45deg,
    hsl(180deg, 100%, 50%),
    hsl(220deg, 100%, 50%)
  );
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  letter-spacing: 4px;
  box-shadow: 0px 4px 24px hsl(0deg, 0%, 0%, 0.1);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

form {
  display: grid;
  row-gap: 24px;
}

input,
textarea {
  border: 1px solid hsl(200deg, 20%, 90%);
  border-radius: 4px;
  padding: 8px;
  outline: none;
  width: 100%;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  margin: 24px 0;
}

.field-error {
  color: hsl(0deg, 100%, 70%);
  margin-top: 0;
}
