* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  outline: none;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: hsl(0, 0%, 10%);
  padding: 24px 0;
}

#container {
  display: grid;
  row-gap: 24px;
}

.videos {
  position: relative;
}

.videoSize {
  width: 500px;
  height: 600px;
  object-fit: cover;
}

#myVideo {
  width: 500px;
  height: 600px;
  object-fit: cover;
}

.rightTop {
  /* 以下是通话中的样式 */
  position: absolute;
  width: 150px;
  height: 180px;
  right: 0;
  top: 0;
}

#peerVideo {
  /* display: none; */
}

.call {
  display: grid;
  grid-template-columns: 6fr 2fr;
  column-gap: 12px;
}

#peerIdInput {
  padding: 16px 12px;
  border: none;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 0 24px hsl(0deg, 100%, 100%, 0.2);
  color: hsl(0, 0%, 30%);
}

#peerIdInput::placeholder {
  color: hsl(0, 0%, 80%);
  font-size: 16px;
}

#idText {
  color: white;
  background-color: rgb(252, 71, 71);
  padding: 12px;
  border-radius: 4px;
}

#joinBtn {
  background: linear-gradient(
    90deg,
    rgb(255 150 130) 0%,
    rgb(245 85 155) 35%,
    rgb(239 66 66) 100%
  );
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  width: 100%;
  box-shadow: 0 0 24px hsl(0deg, 100%, 70%, 0.2);
}

.call,
#idText {
  transition: 0.4s;
}

.incomming {
  /* display: none; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  justify-items: center;
  background-color: hsl(0deg, 0%, 20%);
  transition: 0.5s;
  transform: translateY(-150%);
}

.incomming .comingId {
  color: white;
  font-size: 48px;
}

.answer,
.hang {
  width: 88px;
  height: 88px;
  background-color: hsl(0deg, 100%, 60%, 0.8);
  border-radius: 50%;
  padding: 18px;
}

.answer {
  background-color: hsl(140deg, 100%, 60%, 0.8);
  align-self: center;
}

.hang {
  display: none;
  /* margin-left: 48px; */
  justify-self: center;
}
